<div id='container'>

  <div id='left'>

    <div id='show_box'>

      <% if @current_user %>
        <button id='new_task_button'>New Task</button>
        <div id='new_task_form'>
          <%= form_for @new_task, :remote => true do |f| %>

            <p>
              <%= f.label :name %>
              <%= f.text_field :name %>
            </p>

            <p>
              <%= f.label :description %>
              <%= f.text_field :description %>
            </p>

            <p>
              <%= f.label :time %>
              <%= f.time_field :time %>
            </p>

            <p>
              <%= f.label :price %>
              <%= f.number_field :price %>
            </p>

            <p>
              <label>Search</label>
              <input type='text' id='search_input'>
              <%= button_tag 'Search', :id => 'search_button' %>
            </p>

            <p>
              <label>Options</label>
              <select id='search_results'>
                <option id='places_blank'></option>
                <option id='places_0'></option>
                <option id='places_1'></option>
                <option id='places_2'></option>
                <option id='places_3'></option>
                <option id='places_4'></option>
              </select>
            </p>

            <p>
              <%= f.label :from_name, 'From' %>
              <%= f.text_field :from_name %>
            </p>

            <p>
              <%= f.label :from_address, 'Address' %>
              <%= f.text_field :from_address %>
            </p>

            <p>
              <%= f.label :to_name, 'To' %>
              <%= f.text_field :to_name %>
              <button id='use_my_location'>Home</button>
            </p>

            <p>
              <%= f.label :to_address, 'Address' %>
              <%= f.text_field :to_address %>
            </p>

            <div class='invisible' id='my_location'><%= @current_user.latitude %>,<%= @current_user.longitude %></div>
            <div class='invisible' id='my_latitude'><%= @current_user.latitude %></div>
            <div class='invisible' id='my_longitude'><%= @current_user.longitude %></div>

            <%= f.submit %>
          <% end %>
        </div>
        <div id='task_box'>
        </div>
      <% else %>

        <div id='task_box'>
          <%= image_tag 'https://cdn2.iconfinder.com/data/icons/color-svg-cloud-icons/512/cloud_delivery-512.png', :id => 'default_task_box' %>
        </div>
      <% end %>

      <div id='messages_box'>
      </div>
    </div>

    <% @tasks.each do |task| %>
      <% if task.courier_id %>
        <div class='task unavailable task_<%= task.id %>' id='<%= task.id %>'>
      <% else %>
        <div class='task available task_<%= task.id %>' id='<%= task.id %>'>
      <% end %>
        <p>
          <%= image_tag task.user.image, :class => 'task_icon' %>
          <strong><%= task.name %></strong>

          <% if task.price %>
            $<%= task.price %>
          <% else %>
            FREE
          <% end %>
          <br>

          From: <%= task.from_name %><br>
          To: <%=task.to_name %>

        </p>
      </div>
    <% end %>

  </div>

  <div id='map_canvas'>
  </div>

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyC62HHql2ZcJv7RsliQ1MKf1XQMgK-_esY" %>

  <script>
    $(document).ready(function () {
      <% @tasks.each do |task| %>
        add_marker(<%= task.from_lat %>, <%= task.from_lng %>, '<%= task.name %>', <%= task.id %>);
      <% end %>
    });
  </script>

</div>