<% if @current_user %>

  <table>
    <tr>
      <td><%= image_tag @current_user.image, :id => 'profilepic' %></td>
      <td><%= link_to("Hi #{@current_user.name}", user_path(@current_user)) %><br>
      <%= link_to('Log Out', login_path, :data => {:method => :delete}) %></td>
      </table>

<% else %>

  <%= form_tag '/login' do %>
    <%= label_tag 'email' %>
    <%= text_field_tag 'email', nil %>
    <br>
    <%= label_tag 'password' %>
    <%= password_field_tag 'password' %>
    <br>
    <%= submit_tag 'Login', :id => "login_form_button"%>
    <%= link_to('Sign Up', new_user_path) %>
  <% end %>
  </div>

<% end %>