<!DOCTYPE html>
<html>
<head>
  <title>DeliverMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
  <table>
    <tr>
      <td>
        <a href='/'>
          <h1>
            <i class="fa fa-paper-plane"></i>
            Deliver Me
            <span>For lazy chumps</span>
          </h1>
        </a>
      </td>
      <td id='gap'>
      </td>
      <td>
        <div id='login_form'>
          <%= render :partial => "/shared/login" %>
        </div>
      </td>
    </tr>
  </table>
</header>

<%= yield %>

</body>
</html>
